
/* layout */
body {
  margin: 0;
  font-family: Inika;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dfdede;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width:768px;
  margin-left:1.5rem;
  margin-right:1.5rem;
}
.grid{
display:grid;
gap:1.5rem;
}

.section{
  padding:3rem 0 4rem;
}
/* --- nav-bar ----*/

.nav-bar{
  padding-right: 50px;
  padding-top: 20px;
  font-size:23px;
}
.nav-bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: right;
}
li a {
  display: block;
  color:black;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}
li a:hover {
  color: rgb(169, 158, 131);
}

/*  landing page */
.container-2 {
  padding-top:100px;
  display: grid;
  grid-template-columns: 1fr 2fr;

  /* grid-template-rows: auto auto; */
  /* grid-template-columns:1fr 1fr; */
} 

.content1{
 max-width: fit-content;
  
}
.content2{
  display: block;
  min-width: fit-content;
  padding-left:100px;

}


.land-bg1{
  display:flex;
  align-items: flex-end;

  max-height: 600px;
  width: auto;
 


}
.land-img{
  max-width: 350px;
  height:auto;
  padding-left:100px;
  padding-top:60px;
  position:absolute;

}
/* horizontal */
.dot1{
  position: absolute;
  padding-left:350px;
  padding-top:100px;
  

}
.dot2{
  position :absolute;
  
 
}
.dot3{
  position:absolute;
  padding-left:50px;
  padding-top:400px;

}
.land-title{
  font-size:40px;


}
.sign-in{
  position: absolute;
  padding-left: 350px;
  padding-top:200px;
 
}
.but-classic{


  background-color: #737070;
  border:none;
  padding: 12px 35px 12px 35px;
  font-family: inika;
  font-size:18px;
  


  

}
.but-link{
  color:#E9E5E5;
  
}
.but-link:hover{
  cursor: pointer;
  color:rgb(232, 226, 211);
  
}
/*  FOOTER  */

.footer_bag{
 
  background-color: grey;
  padding:2rem 0 0rem;
  
 
}

.footer-title{
  
  color:white;
  font-size: 25px;
  margin:0 0 0 0 ;
}
.footer__subtitle{
  /* margin-top:0px;
  padding-top: 30px;
  padding-left: 10px;
  font-size: 25px;
  opacity: 50%; */
  color:white;
  font-size: 15px;
  margin:0 0 0 0 ;
 

  
}
.sub-section{
  float:left;
  color:white;
  
  font-family: inika;
  padding-left: 50px;
  font-style: bolder;
 
}
.subtitle{
  color:rgb(40, 40, 40);
}
.slider-image{
  width: 400px;
  

}
.content1-product{
  display: block;
  margin-left:200px;
  margin-top: 70px;

}
.product-title{
  font-size:42px;
  font-family: 'Times New Roman';
  font-weight: 20px;
}
.container-product{
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding-top:50px;
}
.dot1-product{
  margin-top:400px;
}

.content2-product{
  margin-bottom:50px;
}
.product-subtitle{
  padding-left:100px;
  font-size:20px;
  margin:0 0 0 4px;
  text-align: right;
}
.product-subs{
  padding-top: 30px;
}
.product-button{
  /* padding-left:150px; */

  margin:0 0 0 4px;


  
}
.product-link-but{
  padding-top: 10px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top:50%;

  width: auto;
  padding: 50px;
  margin-top: -10px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color:grey;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(108, 108, 108, 0.8);
  border-radius: 60px;
  color:white;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.product-bespoke{
  font-size:35px;
  font-family: 'Times New Roman';
  font-weight: 20px;
}
.description{
  margin-right:200px;
}
.container-bespoke{
  margin-top:30px;
  margin-bottom: 40px;
}

/* ----HOME--- */
.home__img{
  width: 500px;
  border-radius:.5rem;
  justify-self: center;
  align-self: center;
}
.home__data{
  margin-top:10rem;
}
/* PRODUCTTT */
.product__data{
  margin-top: 4rem;
}
.product-active{
  display: none;
}

/*  about */
.bespoke__container{
  margin-bottom: 8rem;
  margin-top: 2rem;
}

/* media -- small devices */
@media screen and(max-width:350px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #product_title{
    text-align: center;

  }
  .product-subs{
    display: none;
  }

}


/* media -- medium devices */
@media screen and (min-width: 568px){
  .home__container{
    grid-template-columns: repeat(2,1fr);
  }
  .product__container{
    grid-template-columns: repeat(2,1fr);
  }
  .bespoke__container{
    grid-template-columns: repeat(2,1fr);
  }
  .home__data{
    grid-column:initial;

  }


}
@media screen and (max-width: 568px){
  .nav-bar{
    display: none;
  }
  .home__img{
    width:400px;
  }
  .land-title{
    font-size: 30px;
  }
  .product-subs{
    display: none;
  }
  .product-active{
    display: block;
    justify-content: center;
    align-items: center;
  
    margin : 0 0 0 0;
    
  }
 
 
  .product__data{
  
    font-size: 40px;
  }
  .slider-image{
    margin-left:auto;
    margin-right:auto;

  }

  .prev, .next{
    
    position: absolute;
    top:70%;
    color:white;
  }
  .home__data{
    margin-top:1rem;
  }

  

}
@media screen and (min-width: 768px){
  .container{
    margin-left:auto;
    margin-right:auto;
  }

  

}
@media screen and (min-width:1024px){

}
