
/* layout */
body {
  margin: 0;
  font-family: Inika;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dfdede;
}
html{
  scroll-behavior: smooth;
}
ul{
  list-style:none;

}
a{
  text-decoration:none;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width:768px;
  margin-left:1.5rem;
  margin-right:1.5rem;
}
.grid{
display:grid;
gap:1.5rem;
}
.header{
  width:100%;

  


}
.nav__btns{
  display: flex;
  align-items: center;
}


.section{
  padding:3rem 0 4rem;
}
/* --- nav-bar ----*/
.nav{
  max-width:968px;
  height: 4rem;
  display:flex;
  justify-content:space-between;

  align-items:center;
}


.nav__toggle{
  font-size:2rem;
  cursor:pointer;
  color:rgb(21, 21, 21);
  background-color:transparent;
  border:none;
  position:absolute;

  top:1rem;

  left:0.75rem;

}
.nav__menu{
  padding-right:3rem;
}

  
  



/* show menu */

.nav__toggle:hover{
  color: rgb(169, 158, 131);
}
@media screen and (max-width: 767px){
  .nav__menu{
    position:fixed;
    bottom:-100%;
    left:0;
    width:100%;
    background-color:white;
    padding:0 0 0 0;
 
    box-shadow:0 -1px 4px rgba(0,0,0,.15);
    border-radius:1.5rem 1.5rem 0rem 0rem;
    transition:.3s;
  }
}

.nav__list{
  grid-template-columns:repeat(3,1fr);
  gap:2rem;

}
.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: black;
  font-weight: 1rem;
}
.nav__link:hover {
  color: rgb(169, 158, 131);
}
.nav__icon{
  font-size:1.2rem;

}
.nav__close{
  position:absolute;
  right:2rem;
  bottom:.5rem;
  font-size:2rem;
  cursor:pointer;
  color:rgb(56, 56, 56);

}
.nav-close{
background-color: transparent;
border: none;
padding-right: 2rem;
}
.nav__close:hover{
  color:rgb(200, 190, 131);
 

}
.show-menu{
  bottom:0;
}




/*  landing page */
.container-2 {
  padding-top:100px;
  display: grid;
  grid-template-columns: 1fr 2fr;

  /* grid-template-rows: auto auto; */
  /* grid-template-columns:1fr 1fr; */
} 

.content1{
 max-width: fit-content;
  
}
.content2{
  display: block;
  min-width: fit-content;
  padding-left:100px;

}


.land-bg1{
  display:flex;
  align-items: flex-end;

  max-height: 600px;
  width: auto;
 


}
.land-img{
  max-width: 350px;
  height:auto;
  padding-left:100px;
  padding-top:60px;
  position:absolute;

}

.land-title{
  font-size:40px;


}
.sign-in{
  position: absolute;
  padding-left: 350px;
  padding-top:200px;
 
}
.but-classic{


  background-color: #737070;
  border:none;
  padding: 12px 35px 12px 35px;
  font-family: inika;
  font-size:18px;
  


  

}
.but-link{
  color:#E9E5E5;
  
}
.but-link:hover{
  cursor: pointer;
  color:rgb(232, 226, 211);
  
}
/*  FOOTER  */

.footer_bag{
 
  background-color: grey;
  padding:2rem 0rem 0rem;
  padding-bottom: 2rem;
  padding-left:1rem;
  
 
}

.footer-title{

  color:white;
  font-size: 25px;
  margin:0 0 0 0 ;
}
.footer__subtitle{
  /* margin-top:0px;
  padding-top: 30px;
  padding-left: 10px;
  font-size: 25px;
  opacity: 50%; */
  color:white;
  font-size: 15px;
  margin:0 0 0 0 ;
 

  
}
.sub-section{
  float:left;
  color:white;
  
  font-family: inika;
  padding-left: 50px;
  font-style: bolder;
 
}
.subtitle{
  color:rgb(40, 40, 40);
}
.slider-image{
  width: 400px;
  

}
.content1-product{
  display: block;
  margin-left:200px;
  margin-top: 70px;

}
.product-title{
  font-size:42px;
  font-family: 'Times New Roman';
  font-weight: 20px;
}
.container-product{
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding-top:50px;
}
.dot1-product{
  margin-top:400px;
}

.content2-product{
  margin-bottom:50px;
}
.product-subtitle{
  padding-left:100px;
  font-size:20px;
  margin:0 0 0 4px;
  text-align: right;
}
.product-subs{
  padding-top: 30px;
}
.product-button{
  /* padding-left:150px; */

  margin:0 0 0 4px;


  
}
.product-link-but{
  padding-top: 10px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top:50%;

  width: auto;
  padding: 50px;
  margin-top: -10px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color:grey;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(108, 108, 108, 0.8);
  border-radius: 60px;
  color:white;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.product-bespoke{
  font-size:35px;
  font-family: 'Times New Roman';
  font-weight: 20px;
}
.description{
  margin-right:200px;
}
.container-bespoke{
  margin-top:30px;
  margin-bottom: 40px;
}

/* ----HOME--- */
.home__img{
  width: 500px;
  border-radius:.5rem;
  justify-self: center;
  align-self: center;
}
.home__data{
  margin-top:10rem;
}
/* PRODUCTTT */
.product__data{
  margin-top: 4rem;
}
.product-active{
  display: none;
}

/*  about */
.bespoke__container{
  margin-bottom: 8rem;
  margin-top: 2rem;
}

/* media -- small devices */
@media screen and(max-width:350px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #product_title{
    text-align: center;

  }
  .product-subs{
    display: none;
  }
  

}


/* media -- medium devices */
@media screen and (min-width: 568px){
  .home__container{
    grid-template-columns: repeat(2,1fr);
  }
  .contact__container{
    grid-template-columns: repeat(2,1fr);
  }
  .product__container{
    grid-template-columns: repeat(2,1fr);
  }
  .bespoke__container{
    grid-template-columns: repeat(2,1fr);
  }
  .home__data{
    grid-column:initial;

  }


}
@media screen and (max-width: 568px){
  .header{
    position:fixed;
  bottom:0;
  left:0;
  display: block;
  z-index:100;
  }

  .home__img{
    width:400px;
  }
  .land-title{
    font-size: 30px;
  }
  .product-subs{
    display: none;
  }
  .product-active{
    display: block;
    justify-content: center;
    align-items: center;
  
    margin : 0 0 0 0;
    
  }
 
 
  .product__data{
  
    font-size: 40px;
  }
  .slider-image{
    margin-left:auto;
    margin-right:auto;

  }

  .prev, .next{
    
    position: absolute;
    top:70%;
    color:white;
  }
  .home__data{
    margin-top:1rem;
  }

  

}
@media screen and (min-width: 768px){
  .container{
    margin-left:auto;
    margin-right:auto;
  }
  .header{
    margin-top:3rem;
    bottom: initial;
  }


  .footer__container{
    padding:0 1rem;
  }
  .nav{
    height: calc( var(10rem) + 1.5rem);
    column-gap: 1rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle{
    display: none;

  }
  .nav__list{
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu{
    margin-left: auto;
  }

  

}
/* For large devices */
@media screen and (min-width:1024px){
  .header,
  .main,
  .footer__container{
    padding: 0;
  }
  .contact__form{
    width: 460px;

  }
  .contact__inputs{
    grid-template-columns: repeat(2,1fr);
  }

  
}


/* ---------contact. ---------- */


/*==================== CONTACT ME ====================*/
.contact__container{
  row-gap:3rem;
}
.contact__information{
  display:flex;

}
.contact__icon{
  font-size:2rem;
  color: black;
  margin-right: 1rem;
  margin-top:1.05rem;
}
.contact__title{
  font-size: 1.25rem;
  font-weight:medium;
  color:black;
}
.contact__subtitle{
  font-size: 1rem;
  color:white;
  
}
.contact__content{
  background-color: white;
  border-radius: 0.5rem;
  padding:.75rem 1rem .25rem;
}
.contact__input{
  width: 100%;
  background-color:white;
  color:grey;

  font-size: normal;
  border:none;
  outline:none;
  padding: .25rem .5rem .5rem 0;
}
.contact__label{
  font-size: small;
  color:black;

}
.contact__button{
  border:0;
  display:inline-block;
  background-color:rgb(46, 45, 43);
  color:white;
  padding:1rem;
  border-radius: .5rem;

  font-weight: 3rem;
  margin-right: 1rem;
  cursor: pointer;
}
.contact{
  background-color: rgb(156, 156, 153);
}